[submodule "git_module1_test"]
	path = git_module1_test
	url = https://github.com/mrazvan92/git_module1_test
[submodule "git_module2_test"]
	path = git_module2_test
	url = https://github.com/mrazvan92/git_module2_test
